
<div class="container">
<ng-progress></ng-progress>
  <form>
 <form class="form-inline md-form mr-auto mb-4">
   <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="username" aria-label="Search"
     name="username">
  </form>

<a class="btn-floating btn-lg btn-floating peach-gradient" (click)='searcher()'><i class="fas fa-search"></i></a>

<div class="panel panel-default">

  <div class="panel-heading">

    <button class="btn aqua-gradient">{{user.name}} <small>{{user.login}}</small></button>



    {{user.location}}

  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-sm-3">


        <div class="card card-cascade narrower">

          <div class="view view-cascade">
            <img src="{{user.avatar_url}}" class="card-img-top" alt="photo">
            <a>
              <div class="mask img-gradient"></div>
            </a>
          </div>



          <div class="card-body card-body-cascade">
            <h5> {{user.login}}</h5>


            <h4 class="card-title"></h4>

            <p class="card-text">{{user.bio}}</p>
            <a class="btn btn-unique waves-effect waves-light" href="{{ user.html_url}}" target="_blank"
              class="btn btn-success btn-sm">View profile on github</a>

          </div>


        </div>
      </div>
                    <p>
                      <button type="button" class="btn btn-primary btn-rounded">{{user.followers}}
                        Followers</button><br>
                      <button type="button" class="btn btn-default btn-rounded">Following
                        {{user.following}}</button><br>
                      <button type="button" class="btn btn-secondary btn-rounded">{{user.public_gists}} Public
                        gists</button><br>
                      <button type="button" class="btn btn-secondary btn-rounded">{{user.public_repos}} Public
                        Repos</button><br>


                    </p>
<p><a href="{{ user.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on
    github</a></p>

                  <h3 class="panel-title">Repository</h3>



                  <div class="panel-body" *ngFor="let repo of repos">



                    {{repo.name}} <a href="{{repo.html_url}}" target="_blank"
                      class="btn btn-sm btn-warning pull-right">View
                      this project on github</a>

</div>